{% extends "./default.html" %}
{% block content %}
{% import "./public/adsPannel.html" as adsPannel %}
{% assets 'info.css' %}
{% endassets %}

<article>
    <div style="display: block;margin: auto; width: 700px; font-family: 'Noto Serif SC';">
        <div id="article" role="article" style="-webkit-locale: zh-Hans;">
            <div class="page">
                <div class="em_article_top_articlehero"><img class="em_article_top_DMT_Image" src="{{post.sImg}}"
                        data-url="set"></div>
                <div class="em_article_top_subhead">深度测评</div>
                <h1 class="em_article_top_head">{{post.title}}</h1>
                <div class="em_article_top_description">{{post.discription}}</div>


                <div class="em_article_top_byline"><span class="em_article_top_post_avatar"><img
                            src="头像"></span>
                    <p class="em_article_top_bylinebold" style="line-height: 0.1em;">{{post.uAuthor.userName}}</p>
                </div>
                <span class="em_article_top_chim"> </span>
                <div class="em_article_top_dateline">发布于：{{post.date}}<span class="em_article_top_metric_readtime"></span>
                    <i class="icon-dot"></i>
                    <div>更新于：{{post.date}}</div>

                </div>
            </div>
        </div>
        <div class="em_article_body post-content">
            {{post.comments | safe}}
        </div>
    </div>


    <!-- 底部隐藏栏 Script -->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.more', function () {
            if ($('.hide:visible').length == 0) {
                $('.hide').show();
                $('.more').html('关闭');
            } else {
                $('.hide').hide();
                $('.more').html('更多内容');
            }
        })
    </script>

    <!-- 角标 -->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bigfoot.js"></script>
    <script type="text/javascript">
        $.bigfoot();
    </script>
    <script type="text/javascript">
        var bigfoot = $.bigfoot({

            positionContent: true,
            deleteOnUnhover: false,
            preventPageScroll: false,
            actionOriginalFN: ignore,
            hoverDelay: 250
        });
    </script>

</article>
<div class="clear blank"></div>
<script>
    function devIng(id) {
        getAjaxData('/api/user/askContentThumbsUp?contentId=' + id, (data) => {
            if (data.status == 200) {
                var newNum = Number($('#diggnum').text()) + 1;
                $('#diggnum').text(newNum);
                layer.msg(data.message, {
                    icon: 1,
                    time: 800
                });
            }
        })
    }
</script>
{% endblock %}